/*Team*/

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team h2 {
  padding-bottom: 50px;
}

.team h3 {
  padding-top: 30px;
  padding-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team p {
  padding-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-box > .item {
  background-color: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.team-box > .item + .item {
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.team-box > .item:nth-child(even) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 30px;
  }
}

.team-box > .item:nth-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.team-box > .item > img {
  width: 100%;
}
